*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-box{
	background: #ff574a;
	text-align: center;
	padding: 40px 90px;
	color: #fff;
	position: relative;
	border-radius: 20px;
}

.menu-icon{
	width: 25px;
	position: absolute;
	left: 40px;
	top: 40px;
	color: white;
}

.settings-icon{
	width: 25px;
	position: absolute;
	right: 40px;
	top: 40px;
	color: white;
}

.profile-pic{
	width: 150px;
	border-radius: 50%;
	background: #fff;
	padding: 6px;
	margin-top: 40px;
}

.profile-bottom{
	background: #fff;
	color: #999;
	padding: 60px 0;
	margin-left: -70px;
	margin-right: -70px;
	margin-bottom: -20px;
	border-radius: 20px;
	margin-top: -10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.profile-bottom img{
	width: 15px;
	margin-top: 15px;
	cursor: pointer;
}

.profile-box button{
	background: #fff;
	color: #ff574a;
	border: none;
	outline: none;
	box-shadow: 0 5px 10px rgba(244, 67, 54, 0.8);
	padding: 15px 60px;
	cursor: pointer;
	border-radius: 30px;
	margin-bottom: -50px;
	font-weight: bold;
	font-size: 16px;
}

.profile-box h3{
	font-size: 22px;
	margin-top: 20px;
	font-weight: bolder;
}

.social-media img{
	width: 50px;
	margin-top: 120px 10px;
	cursor: pointer;s
}